* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    font-family: sans-serif;
    font-size: 1rem;
    height: 100%;
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 400px;

  }

  .contenedor {
    flex: 1 0 auto;
    width: 70%;
    margin: 0 auto;
    margin-top: 4em;
  }

  a {
    text-decoration: none
  }

  .presentacion .nombre {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 3rem;
    margin: 0.2em auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  .presentacion .titulo {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #bb86fc;
    margin: 1em auto;
  }

  .presentacion {
    text-align: center;
  }

  .presentacion .biografia p {
    margin-top: 1em;
  }

  .presentacion .biografia a {
    color: #bb86fc;
  }

  .presentacion .biografia a:hover {
    color: #d4bff9;
  }

  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2.2rem auto;
    font-size: 1rem;
  }

  .redes .icon {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 50%;
    background: white;
    color: black;
  }

  .redes .icon:hover {
    background: #bb86fc;
    color: black ;
  }

  .botones {
    text-align: center;
    font-size: 1rem;
    margin: auto auto 3em auto;
  }

  .botones .boton {
    position: relative;
    display: inline-block;
    margin: 1.2em;
    width: 10em;
    height: 2em;
    line-height: 2em;
    text-transform: uppercase;
    color: #bb86fc;
    cursor: pointer;
    background: none;
    border: 2px solid #bb86fc;
    border-radius: 10px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    outline: none;
  }

  .botones .boton:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
  }

  .presentacion .foto .imagen {
    background-image: url(../assets/img/tony-foto.jpg);
    position: absolute;
    width: 100%;
    top: .6em;
    bottom: .6em;
    left: .6em;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  .presentacion .foto {
    position: relative;
    max-width: 15rem;
    margin: 1em auto;
  }
  .presentacion .foto .marco {
    width: 15rem;
    height: 15rem;
    border: 0.6em solid white;
    border-right-color: #bb86fc;
    border-bottom-color: #bb86fc;
    border-radius: 50%;
  }

  @media only screen and (min-width: 1024px) {
    .contenedor {
      width: 1024px;
    }
    .presentacion .foto {
        max-width: 15rem;
      }
    .presentacion .foto .marco {
      width: 15rem;
      height: 15rem;
    }
    .presentacion .nombre {
      font-size: 3rem;
    }
    .presentacion .titulo {
      font-size: 1.5rem;
    }
  }

  @media only screen and (min-width: 720px) and (max-width: 1023px) {

    .presentacion .foto {
      max-width: 11rem;
    }
    .presentacion .foto .marco {
      width: 11rem;
      height: 11rem;
    }
    .presentacion .nombre {
      font-size: 2.4rem;
    }
    .presentacion .titulo {
      font-size: 1rem;
    }
  }

  @media only screen and (max-width: 720px) {
    .presentacion .foto {
        max-width: 10rem;
      }
      .presentacion .foto .marco {
        width: 10rem;
        height: 10rem;
      }
      .presentacion .nombre {
        font-size: 1.8rem;
      }
      .presentacion .titulo {
        font-size: 0.95rem;
      }
  }

 
